/* mobile */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Varela+Round&display=swap');

body {
    margin: 0px;
    padding:0px;
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* bg colors */
.bgDarkGreen {
    background-color: #275249;
}

.bgLightGreen {
    background-color: #91C499;
}

.bgPink {
    background-color: #FFA1A1;
}

/* text */
.bigText {
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.heading {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.text {
    font-size: 12px;
    font-family: 'Be Vietnam', sans-serif;
}

.underline {
    text-decoration: underline;
}

/* text colors */
.txtDarkGreen {
    color:#275249;
}

.txtGreen {
    color: #357266;
}

.txtLightGreen {
    color: #91C499;
}

.txtPink {
    color: #FFA1A1;
}

.txtBlack {
    color:black;
}

/* ui stuff */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background-color: #357266;
}

.bigButton {
    width: 329px;
    height: 58px;
}

.mediumButton {
    width: 329px;
    height: 58px;
}

.smallButton {
    width: 140px;
    height: 58px;
}

.card {
    width: 100%;
    height: 50%;
    border-radius: 40px 40px 0px 0px;
    background-color: #357266;
    color: white;
}

/* imgs */
.logo {
    background-color: #357266;
    padding: 30px;
    border-radius: 50px;
    width: 200px;
    height: 200px;
}

.logoBW {
    background-color: white;
    width: 200px;
    height: 200px;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

/* global layouts */

.tophalfcont {
    width:90%;
}

.topbar {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* upper part of home page */


/* global UI */
.bigIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    border: 7px solid #275249;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.bigIcon > img {
    width: 80px;
    height: 80px;
}

.smallIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    border: 7px solid #275249;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.smallIcon > img {
    width: 40px;
    height: 40px;
}

.inputStyle {
    padding: 8px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid #A4A4A4;
    outline: none;
    width: 95%;
}

.formStyle {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.progressBase {
    width: 288px;
    height: 34px;
    border-radius: 7px;
    background-color: #C5C5C5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progressBase > div{
    width: 40%;
    height: 100%;
    background-color: #275249;
    padding-left: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
}

.collection {
    height: 40%;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    bottom: 0px;
}

/* mobile and tablet */
@media only screen and (min-width: 320px) and (max-width: 768px) { 
    /* layout */
    .col-1, col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    .col-2 {
        width: 100%;
        height: auto;
    }
    
    .row-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
    }

    .row-2 {
        text-align: center;
    }
    
    .mobnone {
        display: none;
    }
    
    .navCont {
        width:100%;
        height:78px;
        border-radius: 20px 20px 0px 0px;
        background-color: #275249;
        position:fixed;
        bottom:0px;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .navCont > img{
        width:40px;
        height:40px;
    }
    
    .newGoal {
        background-color: #FFA1A1;
        width:60px;
        height:60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .newGoal > img{
        width: 25px;
        height:25px;
    }
    
}

/* laptop and desktop */
@media screen and (min-width: 1024px) {
    /* add styling here later */
    .desknone {
        display:none
    }
}