/* mobile */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Varela+Round&display=swap');

body {
    margin: 0px;
    padding:0px;
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* bg colors */
.bgDarkGreen {
    background-color: #275249;
}

.bgLightGreen {
    background-color: #91C499;
}

.bgPink {
    background-color: #FFA1A1;
}

/* text */
.bigText {
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
}

.heading {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.text {
    font-size: 12px;
    font-family: 'Be Vietnam', sans-serif;
}

.underline {
    text-decoration: underline;
}

/* text colors */
.txtDarkGreen {
    color:#275249;
}

.txtGreen {
    color: #357266;
}

.txtLightGreen {
    color: #91C499;
}

.txtPink {
    color: #FFA1A1;
}

.txtBlack {
    color:black;
}

/* ui stuff */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background-color: #357266;
}.bgDarkGreen

.bigButton {
    width: 329px;
    height: 58px;
}

.mediumButton {
    width: 329px;
    height: 58px;
}

.smallButton {
    width: 329px;
    height: 58px;
}

.card {
    width: 100%;
    height: 50%;
    border-radius: 40px 40px 0px 0px;
    background-color: #357266;
}

/* imgs */
.logo {
    padding: 30px;
    border-radius: 50px;
    width: 200px;
    height: 200px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* global layouts */

.tophalfcont {
    width:90%;
}

.topbar {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* upper part of home page */


/* global UI */
.bigIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    border: 7px solid #275249;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.bigIcon > img {
    width: 80px;
    height: 80px;
}


/* mobile and tablet */
@media only screen and (min-width: 320px) and (max-width: 768px) { 
    /* layout */
    .col-1, col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    .col-2 {
        text-align: left;
        width: 100%;
        height: auto;
    }
    
    .row-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }

    .none {
        display: none;
    }

    
}

/* laptop and desktop */
@media screen and (min-width: 1024px) {
    /* add styling here later */
}