/* mobile */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Varela+Round&display=swap');

body {
    margin: 0px;
    padding:0px;
    width:100%;
    height: 100%;
}

.main {
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.homepage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* bg colors */
.bgDarkGreen {
    background-color: #275249;
}

.bgLightGreen {
    background-color: #91C499;
}

.bgPink {
    background-color: #FFA1A1;
}

/* text */
.bigText {
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.heading {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.sameLoginText {
    font-size: 12px;
    color: #878787;
    font-family: 'Varela Round', sans-serif;
}

.text {
    font-size: 12px;
    font-family: 'Be Vietnam', sans-serif;
}

.underline {
    text-decoration: underline;
}

/* text colors */
.txtDarkGreen {
    color:#275249;
}

.txtGreen {
    color: #357266;
}

.txtLightGreen {
    color: #91C499;
}

.txtPink {
    color: #FFA1A1;
}

.txtBlack {
    color:black;
}

/* ui stuff */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background-color: #357266;
}

.bigButton {
    width: 329px;
    height: 58px;
}

.mediumButton {
    width: 329px;
    height: 58px;
}

.smallButton {
    width: 140px;
    height: 58px;
}

.card {
    width: 100%;
    height: 50%;
    border-radius: 40px 40px 0px 0px;
    background-color: #357266;
    color: white;
}

/* imgs */
.logo {
    background-color: #357266;
    padding: 30px;
    border-radius: 50px;
    width: 200px;
    height: 200px;
}

.logoBW {
    background-color: white;
    width: 200px;
    height: 200px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: #91C499;
    color: white;
    font-family: 'Varela Round';
}

/* global layouts */

.tophalfcont {
    width:90%;
}

.topbar {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* upper part of home page */

.responsiveContainerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* global UI */

.mainGoal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bigIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    border: 7px solid #275249;
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.bigIcon > img {
    width: 80px;
    height: 80px;
}

.smallIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    border: 7px solid #275249;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.smallIcon > img {
    width: 40px;
    height: 40px;
}

.miniIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.miniIcon > img {
    width: 36px;
    height: 36px;
}

.inputStyle {
    padding: 8px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid #A4A4A4;
    outline: none;
    width: 95%;
}

.formStyle {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.progressBase {
    width: 288px;
    height: 34px;
    border-radius: 7px;
    background-color: #C5C5C5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progressBase > div{
    width: 40%;
    height: 100%;
    background-color: #275249;
    padding-left: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
}

.miniProgress {
    width: 100%;
    height: 10px;
    border-radius: 7px;
    background-color: #C5C5C5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom:18px;
}

.miniProgress > div {
    width: 40%;
    height: 100%;
    background-color: #275249;
    border-radius: 7px;
}



.goals {
    height: 400px;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    overflow: scroll;
    border: 1px solid #A4A4A4;
}

.goalMargin {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.collectionRow {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    height: 80px;
    justify-content: flex-end;
}

.shelf {
    width: 90%;
    border: 2px solid #357266;
}

.miniGoal {
    width: 85px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.miniGoal > p{
    font-size: 12px;
    font-family: 'Be Vietnam', sans-serif;
    position: relative;
    bottom: 10px;
}

.newGoalCont {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.newGoalCont2 {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -50px;
}


.optionsCont {
    width: 294px;
    height: 596px;
    align-self: center;
    position:relative;
    
}

.optionsIcon {
    width: 133px;
    height: 133px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #91C499;
    border-radius: 20px;
}

.optionsIconPink {
    width: 133px;
    height: 133px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA1A1;
    border-radius: 20px;
}




.row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.row-2 {
    text-align: center;
}

.cardText {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.selectionCont {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconCont {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.allIcons {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.needs-wants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* mobile and tablet */

@media only screen and (min-width: 320px) and (max-width: 1023px) { 
    /* layout */
    .col-1, col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .col-2 {
        width: 100%;
        height: 100%;
    }

    
    .mobnone {
        display: none;
    }
    
    .navCont {
        width:100%;
        height:78px;
        border-radius: 20px 20px 0px 0px;
        background-color: #275249;
        position:fixed;
        bottom:0px;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .navCont > img{
        width:40px;
        height:40px;
    }
    
    .newGoal {
        background-color: #FFA1A1;
        width:60px;
        height:60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .newGoal > img{
        width: 25px;
        height:25px;
    }

    .newGoalCont {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 10px;
    }

    .newGoalCont2 {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 10px;
    }
}

/* laptop and desktop */
@media screen and (min-width: 1024px) {
    /* add styling here later */
    .desknone {
        display:none
    }
    .homepage {
        width: 100vw;
        height: 100vh;
        justify-content: space-between;
    }



    .responsiveContainerHome{
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .mainGoal {
        position:relative;
        bottom: 50px;
    }

    .goals {
        height: 600px;
        width: 2500px;
        border-radius: 40px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        position: static;
    }
    .threeSections {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 416px;
    }
    
    .logoCont {
        width: 340px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .optionsCont {
        width: 507px;
    }

    .responsiveGoal {
        display: flex;
    }

    .goalNav, row-1 {
        display: none;
    }
}