/* mobile */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Varela+Round&display=swap');


body {
    margin: 0px;
    padding:0px;
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* bg colors */
.bgDarkGreen {
    background-color: #275249;
}

.bgGreen {
    background-color: #357266;
}

.bgLightGreen {
    background-color: #91C499;
}

.bgPink {
    background-color: #FFA1A1;
}

/* layout */


/* text */
.bigText {
    font-size: 36px;
}

.heading {
    font-size: 20px;
}

.text {
    font-size: 12px;
}

.varela {
    font-family: 'Varela Round', sans-serif;
}

.vietnam {
    font-family: 'Be Vietnam', sans-serif;
}

.underline {
    text-decoration: underline;
}

/* text colors */
.txtDarkGreen {
    color:#275249;
}

.txtGreen {
    color: #357266;
}

.txtLightGreen {
    color: #91C499;
}

.txtPink {
    color: #FFA1A1;
}

.txtBlack {
    color:black;
}

.txtWhite {
    color: white;
}

/* UI stuff */
.bigIcon {
    width: 145px;
    height: 145px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigIcon > img {
    width: 80px;
    height: 80px;
}

/* button */
.bigButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 329px;
    height: 58px;
}

.mediumButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 58px;
}

.smallButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 58px;
}

/* border radius */
.tutorialRadius {
    border-radius: 40px 40px 0px 0px;
}

.buttonRadius {
    border-radius: 20px;
}

.progressRadius {
    border-radius: 7px;
}

.circleRadius {
    border-radius: 50%;
}

.greenBorder {
    border:7px solid#275249;
}



/* imgs */
.logo {
    padding: 30px;
    border-radius: 50px;
    width: 200px;
    height: 200px;
}

.col-1, col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.col-2 {
    text-align: left;
    width: 100%;
    height: auto;
}

.row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}