.border {
 border: 1px solid red;
}

.overviewLayout {
 margin: 0 5%;
 min-width: 300px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}

.flexRow {
 display: flex;
 flex-direction: row;
}

.pig > img {
 width: 100%;
 height: 100%;
}

.backCont {
 position: absolute;
 top: 5px;
 left: -20px;
}

/* main goal visuals and inputs */

.aboutGoal {
 margin: auto;
}

.goalVisuals {
 flex:2;
 display: flex;
 flex-direction: column;
 align-items: center;

 margin-top: 50px;
 margin-bottom: 20px;
}

.aboutGoal {
 display: inline-flex;
 align-items: center;
 margin: 0;
}

.aboutGoal > div > .heading {
 margin-right: 5px;
 min-width: 150px;
 text-align: right;
}

.line {
 position: relative;
 bottom: 20px;
 width: 100%;
 border: 2px solid #275249;
}

.goalIcon {
 width: 100px;
 height: 100px;
}

.pig {
 width: 90%;
 max-width: 350px;
}

.pig > img {
 width: 100%;
 height: 100%;
}

.inputStyle {
 padding: 15px;
 margin-top: 30px;
 width: 270px;
 height: 20px;
 color: grey;
 border: 2px solid rgb(228, 117, 136);
 border-radius: 20px;
 text-align: center;
}

.smallButton {
 margin: 0 10px;
}

#withdrawBtn {
 background-color: indianred;
}

/*goal info*/

.goalRecords {
 flex:5;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 width: 100%;
 margin-top: 50px;

 background-color: rgb(238, 238, 238);
 border-radius: 30px;
}

.goalInfo {
 padding: 20px;
 display: flex;
 flex-direction: column;
 max-height: 370px;
}

.infoCont {
 min-width: 250px;
 max-width: 350px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex: 1;
}

.infoNums {
 text-align: right;
}

#editGoalBtn {
 margin: 0;
}

.goalInfo > .editBtn {
 display: flex;
 justify-content: flex-end;
}

.historyCont {
 flex: 2;
 margin: 15px;
}

.listHistory {
 margin-bottom: 50px;
}

.listHistory > .heading{
 line-height: 0;
}

.listHistoryCont {
 min-width: 300px;
 width: 100%;
 height: 300px;
 padding: 10px;
 
 border-radius: 20px;
 box-sizing: border-box;
 border: 3px solid #357266;
 background-color: white;
 overflow-y: auto;
}

.listHistoryCont::-webkit-scrollbar-track {
 border-radius: 20px;
 padding: 2px 0;
 background-color: lightgrey;
}

.listHistoryCont::-webkit-scrollbar {
 width: 30px;
}

.listHistoryCont::-webkit-scrollbar-thumb {
 border-radius: 20px;
 background-color: #357266
}

.historyCard {
 width: 90%;
 height: 50px;
 box-shadow: grey 0px 1px 5px ;
 padding: 10px;
 margin: 10px;
 border-radius: 10px;
}

.chartHistory {
 margin-bottom: 10px;
}

.chartHistory > .heading{
 line-height: 0;
}

.chartCont {
 min-width: 300px;
 width: 100%;
 min-height: 300px;
 border-radius: 20px;
 box-sizing: border-box;
 border: 3px solid #357266;
}