.border {
 border: 1px solid red;
}

/*layout*/

.overviewLayout {
 margin: 5%;
 min-width: 300px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}

.flexRow {
 display: flex;
 flex-direction: row;
}

.pig > img {
 width: 100%;
 height: 100%;
}

/* main goal visuals and inputs */

.aboutGoal {
 margin: auto;
}

.goalVisuals {
 display: flex;
 flex-direction: column;
 align-items: center;

 margin-bottom: 20px;
}

.aboutGoal {
 display: inline-flex;
 align-items: center;

}

.aboutGoal > div > .heading {
 margin-right: 5px;
 min-width: 150px;
 text-align: right;
}

.line {
 position: relative;
 bottom: 20px;
 width: 100%;
 border: 2px solid #275249;
}

.goalIcon {
 width: 120px;
 height: 120px;
}

.pig {
 width: 90%;
}

.pig > img {
 width: 100%;
 height: 100%;
}

.inputStyle {
 padding: 15px;
 width: 270px;
 height: 20px;
 color: grey;
 border: 2px solid rgb(228, 117, 136);
 border-radius: 20px;
 text-align: center;
}

.smallButton {
 margin: 0 10px;
}

#withdrawBtn {
 background-color: indianred;
}

/*goal info*/

.goalRecords {
 flex:2;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 width: 100%;
 margin-top: 70px;

 background-color: rgb(238, 238, 238);
 border-radius: 30px;
}

.goalInfo {
 padding: 20px;
 display: flex;
 flex-direction: column;
}

.infoCont {
 min-width: 250px;
 max-width: 350px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.infoNums {
 text-align: right;
}

#editGoalBtn {
 margin: 0;
}

.historyCont {
}

.listHistory {
 
 width: 300px;
 height: 300px;
 border: 2px solid red;
}

.goalInfo > .editBtn {
 display: flex;
 justify-content: flex-end;
}

.chartCont {
 min-width: 300px;
 min-height: 300px;
 border-radius: 20px;

 background-color: red;
}